<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Home for Simple Flask Website</title>
   </head>
   <body>
      {% extends "template.html" %}
      {% block content %}
      <h1> Welcome to Neuro-Ear! </h1>
      <p> On this website you can test a state-of-the-art neural network</p>
      <p> capable of musical instrument classification. </p>
      <p> Just click on Classify! button and upload a .wav file to check it out! </p>
      {% endblock %}
   </body>
</html>