<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Neuro-Ear</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
  <link href="../static/assets/css/button_.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: MeFamily - v2.1.0
  * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/rus">Алим Бухараев</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/rus">Обо мне</a></li>
          <li class="active"><a href="/classify_rus">Neuro Ear</a></li>
            <li><a href="/classify">ENG</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Neuro-Ear</h2>
          <ol>
            <li><a href="/rus">Обо мне</a></li>
            <li>Neuro-Ear</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Story Intro Section ======= -->
    <section id="story-intro" class="story-intro">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="../static/assets/img/neuro_0.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>О проекте</h3>
            <p class="font-italic">
              В далёком 2018 мне вдруг стало интересно, как можно использовать Deep Learning для решения задачи классификации музыкальных инструментов по звуку
            </p>
            <p>
                Я решил попробовать написать свёрточную нейросеть, которая принимает на вход хромограмму и выдаёт карту вероятностей звучания всех инструментов во все моменты времени.
                Было загружено много аудиофайлов, чтобы создать достаточно большой корпус данных для обучения. Использовались записи аккордеона, гитары, фортепиано и скрипки как студийного, так и любительского качества.
                 Результаты оказались весьма неплохими, Вы можете загрузить свой собственный файл в формате .wav и посмотреть, как работает сеть!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Story Intro Section -->

    <!-- ======= Featured Members Section ======= -->
    <section id="featured-members" class="featured-members">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <img src="../static/assets/img/neuro_1.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-3 pt-lg-0">
            <h3>Шаг первый: превращаем звук в картинку</h3>
              <p class="font-italic">

            </p>
            <p>
                Данный файл преобразуется в хромограмму с помощью Constant-Q трансформации, которая является разновидностью
                 преобразования Фурье. В отличие от обычной спектрограммы, в спектре хромограммы присутствуют только музыкальные ноты. Именно по обертонам человеское ухо отличает звук гитары от звука фортепьяно
            </p>

          </div>
        </div>

        <div class="row content">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="../static/assets/img/neuro_2.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 pt-3 pt-lg-0">
            <h3>На помощь приходит CNN!</h3>
            <p class="font-italic">

            </p>
            <p>
                После этого каждый фрагмент хромограммы длительностью в одну секунду проходит через глубокую сверточную нейронную сеть, которая возвращает
                 вероятность присутствия каждого инструмента на этом односекундном отрывке. При желании подробно ознакомиться с архитектурой
                 Вы можете найти диаграмму <a href="../static/model.png">здесь</a>
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <img src="../static/assets/img/neuro_3.png" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-3 pt-lg-0">
            <h3>Наконец, смотрим на результаты</h3>
            <p class="font-italic">
            </p>
             <p>
                 Сеть выдаёт вероятностную карту для первых 20 секунд данного аудиофайла.
                  Строки представляют собой аккордеон, гитару, фортепиано и скрипку соответственно. Чем светлее цвет,
                  тем выше вероятность того, что данный инструмент звучит в этот момент
            </p>
          </div>
        </div>

        <div class="row content">
            <div class="col-lg-6 order-1 order-lg-1 pt-3 pt-lg-0">
            <h3>Попробуйте сами!</h3>
            <p class="font-italic">

            </p>
            <p>
            Загрузите свой .wav файл и посмотрите, что выдаст сеть. <br> Рекомендуется загружать файлы длиной от 4 до 30 секунд
            </p>
            </div>
          <div class="col-lg-6 order-2 order-lg-2">
              <p> </p>
              <p> </p>
              <p> </p>

              <form action="/success_rus" method="post" enctype="multipart/form-data" class="l-container">
                    <div class="o-asset">
                    <label class="o-asset__select" data-show="true">
                        <input id="js-select-file" type="file" name="file" aria-label="Select Image" class="u-hide-input" accept="audio/*">
                        <div>Выбрать аудио</div>
                        </label>
                    <div class="o-asset__upload" data-show="false">
                    <div class="o-asset__filename"></div>
                    <button type="submit" class="o-upload" aria-describedby="upload-status">
                        <div class="o-upload__def"><div>Загрузить</div></div>
                        <div class="o-upload__init">Загружается&hellip;</div>
                        <div class="o-upload__progress"></div>
                        <div class="o-upload__success">Успех!</div>
                        <div class="u-visually-hidden" id="upload-status" role="alert"></div>
                    </button>
                    </div>
                    </div>
                </form>

        </div>
        </div>


        </div>
      </div>



    </section><!-- End Featured Members Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>